body{
    background-color: rgb(0, 0, 0);
}

.movie-page{
    margin-top: 5px;
    display: inline-flex;   
    display: flex;
    color: rgb(255, 255, 255);
    
}

.movie-page img{
   box-shadow: rgba(217, 43, 24, 0.991) 1px 2px 70px 4px;
   border-radius: 15px;
   margin-left: 10%;
   margin-right: 5%;
   display: flex;
   width: 400px;
   height: 600px;
}

.movieInfo {
    border: solid px red;
    box-shadow: rgba(24, 134, 217, 0.991) 1px 2px 70px 4px;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255) ;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    height: 100%;
    margin-right: 5%;

}

.backbtn{
        background-color: #33baeb;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        width: 100px;
        height: 50px;
        font-size: x-large;
        float: right;
        display:inline-flex;
        font-weight: bold
}

.movieInfo p{
   font-size: xx-large;
   align-content: center;
}

.movieInfo h3{
    justify-content: space-around;
    font-size: xx-large;
 }
 .movieInfo h2{
    border: 0;
    margin-right: 0;
    align-items: center;
   
    font-size: 300%;
 }
.movie-page svg{
    font-size: 1.5rem;
    color: #65b0e2;
}

.movie-page .movie-card{
    text-align: center;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p{
    margin-bottom: 1rem;
}

.movie-page .movie-card h2{
    font-size: 2rem;
}

.movie-page .movie-card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}


.tagline{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.3rem;
    
}

.movie-page h2 {
    color: red;
}

.info{
    margin-bottom: 1.5rem;
}

.info h3{
    margin-bottom: 1rem;
    display: flex;
    align-items:flex-start;
}

.info span{
    display: flex;
    align-items: center;
    gap: 15px;
}

.description p{
line-height: 1.4rem;
}



  .movie-page button:hover{
    background-color: #ed4848;
    color: #33baeb;
  }

  .star{
  
    margin: auto;
    background: rgb(252, 214, 0);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 2rem;
    width: 2rem;
    }

    @import url('https://css.gg/arrow-left.css');