.body{   
    background: url("../Images/backgroundpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #131313;
    height:100vh;
    padding: 50px;
    color: aliceblue;
}


.descricao{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4.7px);
    color: #eb603b;
    background-color: #de000000;
    font-family: helvetica;
    text-align: center;  
    box-sizing: border-box;

    
}

.givemovie { 
    color: #131313;
    background-color: #65b0e2;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-family: helvetica;
    font-size: larger;
    animation: bn53bounce 2s infinite;
    cursor: pointer;
  }


  @keyframes bn53bounce {
    50% {transform: scale(1);}
    10% {transform: scale(1);}
    15% {transform: scale(1);}
    20% {transform: scale(1) rotate(-9deg);}
    25% {transform: scale(1) rotate(7deg);}
    30% {transform: scale(1) rotate(-5deg);}
    35% {transform: scale(1) rotate(4deg);}
    40% {transform: scale(1) rotate(0);}
  }


