.flex-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    margin: auto;
    
  }
  .nextmoviebtn {
    cursor: pointer;
    color: blue;
    display: flex;
    justify-content: space-evenly;
    margin-left: 35%;
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: larger;
  }

  .poster {
    width: 25rem;
    height: 33rem;
  
  }
  
  .movietitle{
    font-size: xxx-large;
    color: rgb(4, 182, 252);
  }

  .moviedetails{
    padding: 0px;
    display: flex;
    justify-content:space-evenly;
   
  }

  .moviedetails h2{
    margin-left: 50px;
    font-size: larger;
  }
  
  .content {
    font-family: sans-serif;
    margin: auto;
    color: rgb(255, 255, 255);
  }

.content p{

    font-size: x-large;
    font-style: normal;
}

.star{
  margin: auto;
  background: rgb(192, 164, 7);
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  }


  